spiral_testing_1/
spiral_testing/
design_stuff/run_spiral1.py
sympy/ 
ece725/

pyeda-0.28.0.zip
python_scripts.tar.gz
run_spiral1.py
run_spiral2.py
iescobar_cadence.tar.gz
run.tcl
config.tcl
gpdk045.tar.gz
ece725_gpdk.bashrc

